 <nav id="menu">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="generic">Generic</a></li>
            <li><a href="elements">Elements</a></li>
        </ul>
    </nav><!-- Banner --><!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
